:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

main,
header,
footer {
  max-width: 1440px;
  margin: 0 auto;
}

.footer-class {
  display: flex;
}

.page-header {
  width: 1440px;
  height: 72px;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  margin: 0 154px;
}

footer .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 154px;
}

.logo-section {
  width: 264px;
  height: 112px;
}
.page-nav {
  display: flex;
  padding: 0;
  margin-left: 76px;
}

nav {
  padding: 0;
}

.page-nav li:last-child .link {
  padding-right: 0;
}

.page-nav li:first-child .link {
  padding-left: 0;
}

.address-nav {
  display: flex;
  margin-left: 332px;
  padding: 0;
}

.address-nav li:last-child .link {
  padding-right: 0;
}

.address-nav li:first-child .link {
  padding-left: 0;
}

.link {
  display: flex;
  padding: 0 20px;
  text-decoration: none;
}

.address-nav .link {
  flex-shrink: 0;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #404bbf;
}

li a {
  color: #2e2f42;
}

body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--navy-blue);
}

button {
  cursor: pointer;
}

.logo {
  width: 115px;
  height: 24px;
  text-decoration: none;
}

.logo .web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.p-class {
  padding-top: 16px;
}

.p-social-media {
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
}

.logo .studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo .studiofooter {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

nav li {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

address {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.hero {
  padding: 188px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.6),
      rgba(46, 47, 66, 0.6)
    ),
    url("../images/people-office.jpg");
  background-size: cover;
}

.hero h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  margin-bottom: 48px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.hero-button {
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  border: none;
  border-radius: 4px;
}

.hero-button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--ocean);
}

.backdrop {
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(46, 47, 66, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.backdrop.is-open {
  display: flex;
}

.modal {
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 0 24px;
  width: 408px;
  height: 584px;
  max-width: 100%;
  position: relative;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-x {
  position: absolute;
}

.modal-close:hover {
  color: #404bbf;
}

.modal-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding: 0;
  margin: 72px 0 16px 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding: 0;
  margin: 0;
  display: block;
}

.input-wrapper {
  position: relative;
  margin: 4px 0 8px 0;
}

.input-wrapper input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 32px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  color: #2e2f42;
  background-color: transparent;
  margin: 0;
}

.input-wrapper input:focus {
  border-color: #4d5ae5;
}

.input-wrapper:focus-within .input-icon {
  fill: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
}

textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  font-size: 14px;
  color: #2e2f42;
  outline: none;
  display: block;
  margin: 4px 0 16px 0;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

textarea:focus::placeholder {
  opacity: 0;
}

textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-label {
  font-size: 12px;
  color: #434455;
  display: flex;
  align-items: center;
  gap: 6px;
}

.checkbox-label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-label a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.checkbox-input {
  width: 16px;
  height: 16px;
}

.send-btn {
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 169px;
  height: 56px;
  align-self: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 24px 0 24px 0;
}

.send-btn:hover {
  background-color: #404bbf;
}

.section-list h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding-bottom: 8px;
}

li p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.team {
  background: var(--cloud);
  padding: 120px;
}

.team h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  padding: 0 0 72px;
  margin: 0;
}

.team li {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.team li img {
  margin-bottom: 32px;
}

.team ul {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.team h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  padding-bottom: 8px;
}

.team p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.portfolio li img {
  margin-bottom: 32px;
}

.portfolio li {
  width: 360px;
  height: 420px;
  background: var(--white);
}

.portfolio {
  padding: 120px;
  margin: 0;
}

.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.portfolio h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  padding: 0 0 72px;
  margin: 0;
}

.portfolio h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  padding-bottom: 8px;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

footer {
  width: 1440px;
  height: 312px;
  background: var(--navy-blue);
}

footer p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.section-list ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 120px 0;
  margin: 0;
}

.section-list ul li {
  width: 264px;
  height: auto;
}

.icon-rect {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: var(--cloud);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.icon-rect svg {
  width: 64px;
  height: 64px;
  display: block;
}

.icon-team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.footer-icon {
  display: flex;
  gap: 16px;
}

.icon-social {
  width: 40px;
  height: 40px;
  --color4: #4d5ae5;
  --color2: #f4f4fd;
  transition: var(--color4) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social:hover {
  --color4: #31d0aa;
}

.icon-rect .icon {
  color: var(--navy-blue);
}

.portfolio-card {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--cornflower);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  padding: 40px 32px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.portfolio-card:hover .overlay {
  opacity: 1;
}

.portfolio-info {
  padding: 32px 16px;
}

.social-media-section {
  max-width: 100%;
  max-height: 100%;
  margin-left: 120px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.input-group {
  display: flex;
  gap: 24px;
  align-items: center;
}

.input-mail {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: #2e2f42;
  color: #fff;
  padding: 0 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #fff;
}

.input-mail::placeholder {
  color: #fff;
  transition: opacity 250ms ve cubic-bezier(0.4, 0, 0.2, 1);
}

.input-mail:focus::placeholder {
  opacity: 0;
}

.input-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
}

.form-section {
  margin-left: 80px;
}

.submit-btn {
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--ocean);
}

.icon-subscribe {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
  margin: 0;
  padding: 0;
}
